<%= render "layouts/errors", :object => @option %>

<%= form_for [@option, @comment], remote: true do |f| %>
  <div class="input-field">
    <%= f.text_field :content %>
    <%= f.label :content, "Comment" %>
  </div>

  <div class="actions">
    <%= f.submit "Add comment", class: "btn btn-primary" %>
  </div>
<% end %>
